body {
    background-color: #ffcc00;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.top-bar {
    background-color: gray;
    padding: 10px 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.top-bar a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.top-bar a:hover {
    background-color: darkgray;
}

.form-container {
    margin: 50px auto;
    width: 80%;
    max-width: 500px;
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: black;
    font-size: 24px;
    margin-top: 20px;
}

form {
    text-align: left;
}

label {
    font-size: 16px;
    margin-bottom: 5px;
    display: block;
    text-align: left;
}

input {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
}

select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
}

button {
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}
